<div class="card mt-4">
  <div class="card-body">
    <div class="input-group">
      <input id="myInput" type="text" placeholder="Agregar Tarea" class="form-control form-control-lg"
      [(ngModel)]="tarea">
      <div class="input-group-append">
        <button type="button" class="btn btn-success btn-lg"
                (click)="agregarTarea()" onclick="document.getElementById('myInput').value = ''"
              [disabled]="tarea == ''">Agregar</button>
      </div>
    </div>
    <br>
    <h5 *ngIf="listTareas.length == 0">No hay tareas para realizar</h5>
    <ul class="list-group">


      <li *ngFor="let tarea of listTareas; let i = index" class="list-group-item d-flex justify-content-between align-items-center">


        <span class="cursor" (click)="actualizarTarea(tarea, i)" [class.text-succes]="tarea.finalizada">
          <i [ngClass]="tarea.finalizada ? 'fas fa-check-circle' : 'far fa-circle'"></i>
        </span>

        {{ tarea.nombre }}


        <span class="text-danger cursor" (click)="eliminarTarea(i)">
          <i class="far fa-trash-alt"></i>
        </span>




<!--        <span class="text-danger cursor" (click)="editarTarea(i)">-->
        <span class="text-danger cursor">
          <i class="fas fa-edit" (click)="openDialog(i)">Edit</i>
<!--          <a (click)="openDialog()">Edit</a>-->
        </span>



      </li>


    </ul>
  </div>
</div>


<!--<li>-->
<!--  <button mat-raised-button (click)="openDialog()">Pick one</button>-->
<!--</li>-->


